---
layout: default
---
<div role="main" class="grid">

	<div class="block block-content-header">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
				<h1 class="title">Europeana Labs</h1>
				<p class="subhead grid grid__item desk--one-half">
					Giving developers access to cultural and scientific images, texts and audiovisual collections from Europe's leading cultural organisations &mdash; all rights-cleared and ready to use. Use our API or go and experiment at one of our physical 'hubs'.</p>
		</div>
	</div>
	
	<div class="block">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
			{% include apireg.html %}
		</div>
	</div>

	<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
		<h3>Be inspired ...</h3>
	    <ul class="post-list grid">
	        {% for post in site.categories.gallery %}
	        {%if post.featured %}<!--
	        --><li class="grid__item one-whole three-quarters">
	            <div class="block block-thumb">

	                <div class="b-thumb">
	                    <a href="{{site.baseurl}}{{post.url}}">
	                        <img src="{{post.imageurl}}" alt="{{post.title}}">
	                    </a>
	                </div>

	                <div class="b-text">

	                    <h1 class="headline gamma"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h1>
	                    <div class="description">
	                        {{post.content}}                        
	                    </div>
	                    {% endif %}
	                </div>

	            </div>
	        </li>{% endfor %}
	    </ul>
	</div>
</div>
