		<ul class="tabs tabs-v">
			<li><a href="{{site.baseurl}}/api" title="API Introduction">Introduction</a></li>
			<li><a href="{{site.baseurl}}/api/getting-started" title="Getting Started with the Europeana REST API">Getting Started</a></li>
			<li><a href="{{site.baseurl}}/api/registration" title="API Registration">Registration</a></li>
			<li><a href="{{site.baseurl}}/api/console/" title="API Console">Console</a></li>
			<li><a href="{{site.baseurl}}/api/changelog" title="API ChangeLog">Change Log</a></li>
		</ul>
