	<div class="grid__item one-quarter palm--one-whole">
		<ul class="tabs tabs-v">
			<li><a href="{{site.baseurl}}/api" title="API Introduction">Introduction</a></li>
			<li><a href="{{site.baseurl}}/api/essentials" title="API Essentials">Essentials</a></li>
			<li><a href="http://europeana.eu/portal/api/registration.html" title="API Registration">Registration</a></li>
			<li><a href="http://europeana.eu/portal/api/console.html" title="API Console">Console</a></li>
			<li><a href="{{site.baseurl}}/api/changelog" title="API ChangeLog">Change Log</a></li>
		</ul>
		
		<ul class="tabs tabs-v">
			<li><a href="{{site.baseurl}}/api/authentication" title="API Authentication">Authentication</a></li>
			<li><a href="{{site.baseurl}}/api/search" title="API Search Method">Search Method</a></li>
			<li><a href="{{site.baseurl}}/api/object" title="API Object Method">Object Method</a></li>
			<li><a href="{{site.baseurl}}/api/myeuropeana" title="Accessing MyEuropeana via API">My Europeana</a></li>
			<li><a href="{{site.baseurl}}/api/provider" title="Accessing Provider/Collection via API">Provider/Collection</a></li>
			<li><a href="{{site.baseurl}}/api/error" title="API Error Code">Error Codes</a></li>
		</ul>

		<ul class="tabs tabs-v">
			<li><a href="{{site.baseurl}}/api/search-widget" title="Search Widget">Search Widget</a></li>
			<li><a href="{{site.baseurl}}/api/edm" title="Europeana Data Model Reference">EDM Reference</a></li>
		</ul>
		
		<ul class="tabs tabs-v">
			<li><a href="http://prose.io/#europeana/Labs/edit/gh-pages/{{page.path}}" title="Edit {{page.title}} in Prose.io">Help Improve This Content</a></li>
		</ul>
	</div>
