<form id="model" action="http://europeana.eu/portal/api/registration.html" method="POST" class="inline-form newsletter-form">
	<fieldset>
		<input id="requestedAction" name="requestedAction" value="RequestAPI" type="hidden"><label for="register_email">Email address:</label>
		<div class="inline-container">
			<input id="register_email" name="email" type="text" placeholder="you@example.com" maxlength="50" class="newsletter-field">
			<input type="submit" name="submit_button" value="Sign up" class="newsletter-submit">
		</div>
	</fieldset>
</form>