		<style type="text/css">
		  ul.notabs {display: none;}
		  ul.notabs li a {border: 0;}			
		</style>
		
		<script type="application/javascript">
		$(document).ready(function(){
			$("ul a.menuTrigger").click(function(e){
				$(this).parent().find("ul.notabs").slideToggle();
				return e.preventDefault();
			});
		});
			
		</script>
		
		<ul class="tabs tabs-v">
			<li><a href="{{site.baseurl}}/api" title="API Introduction">Introduction</a></li>
			<li><a href="{{site.baseurl}}/api/getting-started" title="Getting Started with the Europeana REST API">Getting Started</a></li>
			<li><a href="{{site.baseurl}}/api/registration" title="API Registration">Registration</a></li>
			<li><a href="{{site.baseurl}}/api/console" title="API Console">Console</a></li>
			<li>
				<a href="" title="" class="menuTrigger">Europeana Repository</a>
				{% include api-portal-menu.html %}
			</li>
			<li><a href="{{site.baseurl}}/api/changelog" title="API ChangeLog">Change Log</a></li>
		</ul>
