	<div class="grid__item one-quarter palm--one-whole">		
		<style type="text/css">
		  ul.notabs {display: none;}
		  ul.notabs li a {border: 0;}

		  ul ul li { margin:0; margin-left: 30px;}
		  ul.notabs a { padding: 0.5rem; }	
		  ul ul li a.current{text-decoration: underline; }		
		</style>
		<ul class="tabs tabs-v">
			<li><a href="{{site.baseurl}}/api" title="API Introduction">Introduction</a></li>
			<li>
				<a class="menuTrigger">REST API</a>
				<ul class="notabs tabs-v">
					<li><a href="{{site.baseurl}}/api/getting-started" title="Getting Started with the Europeana REST API">Getting Started</a></li>
					<li><a href="{{site.baseurl}}/api/registration" title="API Registration">Get an API-key</a></li>
					<li><a href="{{site.baseurl}}/api/console" title="API Console">Console</a></li>
					<li><a href="{{site.baseurl}}/api/authentication" title="Authentication">Authentication</a></li>
					<li><a href="{{site.baseurl}}/api/search" title="Search">Search</a></li>
					<li><a href="{{site.baseurl}}/api/query" title="Query">Query Syntax</a></li>
					<li><a href="{{site.baseurl}}/api/record" title="Record">Record</a></li>
					<li><a href="{{site.baseurl}}/api/myeuropeana" title="Accessing MyEuropeana">MyEuropeana</a></li>
					<li><a href="{{site.baseurl}}/api/provider" title="Querying Providers and Datasets">Provider and Datasets</a></li>
					<!--<li><a href="{{site.baseurl}}/api/data-fields" title="API Data Fields Reference">Data Fields</a></li>-->					
					<li><a href="{{site.baseurl}}/api/data-hierarchy" title="Data Hierarchy">Data Hierarchy</a></li>					
					<li><a href="{{site.baseurl}}/api/error" title="Error Codes">Error Codes</a></li>	
					<li><a href="{{site.baseurl}}/api/changelog" title="API ChangeLog">Change Log</a></li>
				</ul>
			</li>
			<li>
				<a class="menuTrigger">Linked Open Data</a>
				<ul class="notabs tabs-v">
					<li><a href="{{site.baseurl}}/api/linked-open-data/introduction">Introduction</a></li>
					<li><a href="{{site.baseurl}}/api/linked-open-data/data-downloads">Data Downloads</a></li>
					<li><a href="{{site.baseurl}}/api/linked-open-data/SPARQL-endpoint">SPARQL-endpoint</a></li>
					<li><a href="{{site.baseurl}}/api/linked-open-data/data-structure">Data Structure</a></li>
					<li><a href="{{site.baseurl}}/api/linked-open-data/FAQ">FAQ</a></li>
					<li><a href="{{site.baseurl}}/api/linked-open-data/credits">Credits</a></li>
				</ul>
			</li>
			<li><a href="{{site.baseurl}}/api/search-widget" title="Search Widget">Search Widget</a></li>			
			<li><a href="http://www.europeana.eu/portal/rights/api-terms-of-use.html" title="API Data Fields Reference">Term of Use</a></li>						
		</ul>	
	</div>
