		<ul class="tabs tabs-v">
		        <li><a href="{{site.baseurl}}/api/repository" title="Europeana Repository">Europeana Repository</a></li>
			<li><a href="{{site.baseurl}}/api/authentication" title="Authentication">Authentication</a></li>
			<li><a href="{{site.baseurl}}/api/search" title="Search">Search Method</a></li>
			<li><a href="{{site.baseurl}}/api/query" title="Query">Query Syntax</a></li>
			<li><a href="{{site.baseurl}}/api/object" title="Object">Object Method</a></li>
			<li><a href="{{site.baseurl}}/api/myeuropeana" title="Accessing MyEuropeana">MyEuropeana</a></li>
			<li><a href="{{site.baseurl}}/api/provider" title="Querying Providers and Datasets">Provider and Datasets</a></li>
			<li><a href="{{site.baseurl}}/api/error" title="Error Codes">Error Codes</a></li>
		</ul>
