		<ul class="tabs tabs-v">
		        <li><a href="{{site.baseurl}}/api/repository" title="Europeana Repository">Europeana Repository</a></li>
			<li><a href="{{site.baseurl}}/api/authentication" title="API Authentication">Authentication</a></li>
			<li><a href="{{site.baseurl}}/api/search" title="API Search Method">Search Method</a></li>
			<li><a href="{{site.baseurl}}/api/object" title="API Object Method">Object Method</a></li>
			<li><a href="{{site.baseurl}}/api/myeuropeana" title="Accessing MyEuropeana via API">MyEuropeana</a></li>
			<li><a href="{{site.baseurl}}/api/provider" title="Accessing Provider/Collection via API">Provider/Collection</a></li>
			<li><a href="{{site.baseurl}}/api/error" title="API Error Code">Error Codes</a></li>
		</ul>