<div class="grid__item one-quarter palm--one-whole">
	<div class="subnav">
	   					
					 <h4 class="label epsilon"> Filter by:</h4>
	    			 <ul class="tags tags-large">
	    			 		    			 	
	    			 {% for tag in site.tags %}
			{% assign z = "0" %}
			
			{% for blog in site.categories.blog %}
				{% for tag1 in blog.tags %}
										
	    			{% if tag[0] == tag1 %}
						<li><a href="{{site.baseurl}}/blog/{{ tag | first | tags_links | slugize }}/" rel="{{ tag | first | tags_links | slugize }}" class="tag">{{ tag | first }}</a></li>
						{% assign z = "1" %}
						
						{% break %}
						
					{% endif %}
					
				
				{% endfor %}
				
				{% if z =="1" %}
					{% break %}
				{% endif %}
				
			{% endfor %}		
		{% endfor %}
						
						 </ul>

					
   <ul class="tabs tabs-v">
     <li><a href="">Suggest an article</a></li>
     <li><a href="">Help improve this content</a></li>
   </ul>
   </div>
</div>

