{% if page.contact %}
<br />
<ul>
	{% if page.contact.name %}
	<li class="contact"><i class="icon icon-user"></i>&nbsp;<strong>Contact:</strong>&nbsp;{{ page.contact.name }}</li>
	{% endif %}
	{% if page.contact.address %}
	<li class="address"><i class="icon icon-location"></i>&nbsp;<strong>Address:</strong>&nbsp;{{ page.contact.address }}</li>
	{% endif %}
	{% if page.contact.telephone %}
	<li class="tel"><i class="icon icon-phone"></i>&nbsp;<strong>Tel:</strong>&nbsp;{{ page.contact.telephone }}</li>
	{% endif %}
	{% if page.contact.email %}
	<li class="email"><i class="icon icon-mail"></i>&nbsp;<strong>Email:</strong>&nbsp;{{ page.contact.email }}</li>
	{% endif %}
	{% if page.contact.website %}
	<li class="website"><i class="icon icon-link"></i>&nbsp;<strong>Website:</strong>&nbsp;<a href="{{page.contact.website}}" title="{{page.title}} Website">{{ page.contact.website }}</li>
	{% endif %}
</ul>
{% endif %}