<div class="grid__item one-quarter palm--one-whole">
	<div class="subnav">
	    <h4 class="label epsilon"> Filter by:</h4>
	    <ul class="tags tags-large">
           <li><a href="#" class="tag">Archaeology</a></li>
            <li><a href="#" class="tag">Architecture</a></li>
            <li><a href="#" class="tag">Drawings</a></li>
            <li><a href="#" class="tag">Maps</a></li>
            <li><a href="#" class="tag">Natural History</a></li>
            <li><a href="#" class="tag">Photographs</a></li>
            <li><a href="#" class="tag">Prints</a></li>	   
	    </ul>
    </div>
	
   <ul class="tabs tabs-v">
     <li><a href="">Suggest a Dataset</a></li>
     <li><a href="">Help improve this content</a></li>
   </ul>
</div>

