<div class="grid__item one-quarter palm--one-whole">
	<div class="subnav">
	   					
					 <h4 class="label epsilon"> Filter by:</h4>
	    			 <ul class="tags tags-large">
	    			 		    			 	
	    			 {% for tag in site.tags %}
			{% assign z = "0" %}
			
			{% for event in site.categories.events %}
				{% for tag1 in event.tags %}
										
	    			{% if tag[0] == tag1 %}
						<li><a href="{{site.baseurl}}/events/{{ tag | first | tags_links | slugize }}/" rel="{{ tag | first | tags_links | slugize }}" class="tag">{{ tag | first }}</a></li>
						{% assign z = "1" %}
						
						{% break %}
						
					{% endif %}
					
				
				{% endfor %}
				
				{% if z =="1" %}
					{% break %}
				{% endif %}
				
			{% endfor %}		
		{% endfor %}
						
						 </ul>

					
   <ul class="tabs tabs-v">
   	 <li><a href="{{site.baseurl}}/events/archive">Archive</a></li>
     <li><a href="">Suggest an Event</a></li>
     {% include improve-content.html %}
   </ul>
   </div>
</div>

