<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
    <div class="lc">
        <ul class="nav-footer">
            <li><a href="/">Home</a></li>
            <li><a href="{{site.baseurl}}/about">About us</a></li>
            <li><a href="http://europeana.eu/portal/rights/terms-and-policies.html">Terms &amp; policies</a></li>
            <li><a href="#">Sitemap</a></li>
        </ul>

        <p class="copyright">Co-funded by the European Union.</p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{site.baseurl}}/plf/88x31.png"></a>
    </div>
</footer>
<!-- End Footer -->