<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
    <div class="lc">
		<div class="social-icons">
        	<a class="social-icon twitter" href="https://twitter.com/EuropeanaTech">&nbsp;</a>
        	<a class="social-icon facebook" href="https://www.facebook.com/Europeana">&nbsp;</a>
        	<a class="social-icon google" href="https://plus.google.com/+europeana/posts">&nbsp;</a>        	
        </div>
        <ul class="nav-footer">
            <li><a href="/">Home</a></li>
            <li><a href="{{site.baseurl}}/about">About us</a></li>
            <li><a href="http://europeana.eu/portal/rights/terms-and-policies.html">Terms &amp; policies</a></li>
            <li><a href="#">Sitemap</a></li>
        </ul>
        <p class="copyright">Co-funded by the European Union.</p>
        <a class="licensehr" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{site.baseurl}}/img/cc.png"></a>
        
    </div>
</footer>
<!-- End Footer -->