<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
    <div class="lc">
        <ul class="nav-footer">
            <li><a href="http://uc48.net/europeana/patterns/04-pages-00-Labs-00-labs-list/04-pages-00-Labs-00-labs-list.html#">Home</a></li>
            <li><a href="http://uc48.net/europeana/patterns/04-pages-00-Labs-00-labs-list/04-pages-00-Labs-00-labs-list.html#">About us</a></li>
            <li><a href="http://uc48.net/europeana/patterns/04-pages-00-Labs-00-labs-list/04-pages-00-Labs-00-labs-list.html#">Terms &amp; policies</a></li>
            <li><a href="http://uc48.net/europeana/patterns/04-pages-00-Labs-00-labs-list/04-pages-00-Labs-00-labs-list.html#">Sitemap</a></li>
        </ul>

        <p class="copyright">Co-funded by the European Union.</p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/plf/88x31.png"></a>
    </div>
</footer>
<!-- End Footer -->