<div class="subnav">
	<h4 class="label epsilon"> Filter by:</h4>
	<ul class="tags tags-large">
		{% for tag in site.tags %}
			{% assign z = "0" %}
			
			{% for gallery in site.categories.apps %}
				{% for tag1 in gallery.tags %}
										
	    			{% if tag[0] == tag1 %}
						<li><a class="tag {{ tag | first | tags_links | slugize }}">{{ tag | first }}</a></li>
						{% assign z = "1" %}
						
						{% break %}
						
					{% endif %}
					
				{% endfor %}
				
				{% if z =="1" %}
					{% break %}
				{% endif %}
				
			{% endfor %}		
		{% endfor %}
		
	</ul>
</div>
<div style="clear:both;">&nbsp;</div>
