<!-- Begin header -->
<header class="header cf" role="banner">
    <div class="lc">
        <a href="{{site.baseurl}}/" class="logo ir">Europeana</a>	
		<a href="{{site.baseurl}}/search" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
        <a id="hamMenu" href="#" class="nav-toggle nav-toggle-menu icon-rows"><span class="is-vishidden">Menu</span></a>
        <a href="{{site.baseurl}}/rss" class="nav-toggle nav-toggle-search icon-rss"><span class="is-vishidden">Rss</span></a>

		
        <form id="search" action="{{site.baseurl}}/search" method="get" class="inline-form search-form">
        	
        	<a id="rssUrl" href="{{site.baseurl}}/rss" class="icon-rss pull-right"><span class="is-vishidden">Rss</span></a>
            <fieldset>
                <legend class="is-vishidden">Search</legend>
                <label for="search-field" class="is-vishidden">Search</label>
                <input type="text" placeholder="Search" id="search-query" name="q" class="search-field" autocomplete="off">
                <button class="search-submit">
                    <span class="icon-search" aria-hidden="true"></span>
                    <span class="is-vishidden">Search</span>
                </button>
            </fieldset>
        </form>
        <nav id="nav" class="nav">
            <ul>
                <li><a href="{{site.baseurl}}/" class="current">Home</a></li>
                <li><a href="{{site.baseurl}}/datasets">Datasets</a></li>
                <li><a href="{{site.baseurl}}/api">API</a></li>
                <li><a href="{{site.baseurl}}/spaces">Spaces</a></li> 
                <li><a href="{{site.baseurl}}/gallery">Gallery</a></li>
<!--                <li><a href="{{site.baseurl}}/events">Events</a></li> -->
                <li><a href="{{site.baseurl}}/support">Support</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- End header -->