		<style type="text/css">
 
	#share-buttons img {
		width: 35px;
		padding: 5px;
		border: 0;
		box-shadow: 0;
		display: inline;
	}
 
</style>
			<div style="float:left;">
	<div id="share-buttons">
	<a href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>	 
	<a href="http://twitter.com/share?url={{site.url}}{{page.url}}&text=" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>	 
	<a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
	</div>
</div>