	<div class="grid__item one-quarter palm--one-whole">		
		<style type="text/css">
		  ul.notabs {display: none;}
		  ul.notabs li a {border: 0;}

		  ul ul li { margin:0; margin-left: 30px;}
		  ul.notabs a { padding: 0.5rem; }	
		  ul ul li a.current{text-decoration: underline; }		
		</style>
		<ul class="tabs tabs-v">
			<li><a href="{{site.baseurl}}/support" title="API Introduction">Introduction</a></li>
			<li><a href="{{site.baseurl}}/locations">Locations</a></li>			
			<li><a href="{{site.baseurl}}/support/contact">Contact</a></li>						
		</ul>	
	</div>
