<div class="grid__item one-quarter palm--one-whole">
	<div class="subnav">
	    <h4 class="label epsilon"> Filter by:</h4>
	    <ul class="tags tags-large">

					{% assign uniqTags = site.data.datasets | make_flat%}
				
					{% for tag in uniqTags %}
					<li>
						<a href="#{{tag | tags_links}}" rel="{{tag | tags_links}}" class="tag">{{tag}}</a>
						</li>
					{% endfor %}
 
	    </ul>
    </div>
	
   <ul class="tabs tabs-v">
     <li><a href="">Suggest a Dataset</a></li>
     <li><a href="">Help improve this content</a></li>
   </ul>
</div>

