---
layout: gallery-list
title: Gallery
---

<script>
	$(document).ready(function(){
		
		$("div.pagination-holder").jPages({
	    containerID : "GalleryList",
	    perPage: 10
	    });
	});
</script>

<div class="grid__item three-quarters palm--one-whole">
    <ul id="GalleryList"  class="post-list grid">
        {% for post in site.categories.apps %}<!--
        --><li class="grid__item one-whole desk--one-half">
            <div class="block block-thumb {%if post.featured != true %}  block-thumb-small {% endif %}">

               
                {% if dataset.imageurl.first.match(/^http/) %}
					<div class="b-thumb">
						 <a href="{{site.baseurl}}{{post.url}}">
	                    	<img src="{{site.baseurl}}{{post.imageurl.first}}" alt="{{post.title}}">
	                      </a>
	                </div>
                {%else%}
	                <div class="b-thumb">
	                	<a href="{{site.baseurl}}{{post.url}}">
	                    	<img src="{{post.imageurl.first}}" alt="{{post.name}}">
	                   </a>
	                </div>
				{% endif %}

                <div class="b-text">

                    {%if post.featured %}
	                    <h1 class="headline gamma"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h1>
	                    <div class="description">
	                        {{post.excerpt}}                        
	                    </div>
					{% else %}
						<h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
                    {% endif %}
                    <div style="text-align: left;">
					<!--<a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}" class="text-btn">Read more about {{post.title}}</a>-->
					</div>
                    <div class="tags">
                        <i class="icon icon-tag"> </i>
						{% for tag in post.tags %}
							<a href="{{site.baseurl}}/gallery/{{ tag | tags_links }}/" class="tag_alt">{{tag}}</a>
						{% endfor %}
                    </div>
                </div>

            </div>
        </li>{% endfor %}
    </ul>
    
    <div class="pagination-holder">
    	
    </div>

</div>
