{% include start.html %}<!--
-->{% include header.html %}<!--
-->
	<style type="text/css">
		  ul.notabs {display: none;}
		  ul.notabs li a {border: 0;}

		  ul ul li { margin:0; margin-left: 30px;}
		  ul.notabs a { padding: 0.5rem; }	
		  ul ul li a.current{text-decoration: underline; }		
		</style>
<div role="main" class="grid">
	<div class="block block-content-header">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
				<h1 class="title">APIs</h1>
				<p class="subhead grid grid__item desk--one-half">
				The Europeana APIs allow you to search and retrieve the contents of our database for use in your own applications. 
				</p>
		</div>
	</div>
	
{% include api-subnav.html %}

	<div id="documentation" class="prose grid__item palm--one-whole push--palm-none one-half"><!--
	-->{{ content}}<!--
--></div>
</div>
{% include footer.html %}<!--
-->{% include end.html %}
