{% include start.html %}<!--
-->{% include header.html %}<!--
--><div role="main" class="grid">

	<div class="block block-content-header">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
				<h1 class="title">Blog</h1>
				<p class="subhead grid grid__item desk--one-half">
					We'll be blogging about new and changed features in our APIs, additions of great and re-usable data and content, and cool apps developed on our APIs. Want to guest blog? Get in touch.
				</p>
		</div>
	</div>
	
	{% include blog-subnav.html %}
	
	{{ content}}<!--
--></div>
{% include footer.html %}<!--
-->{% include end.html %}
