---
layout: gallery-list
---
<div class="grid__item three-quarters palm--one-whole">
    <ul class="post-list grid">
        {% for post in site.tags[page.tag] %}<!--
        --><li class="grid__item one-whole desk--one-half">
            <div class="block block-thumb {%if post.featured != true %}  block-thumb-small {% endif %}">

                <div class="b-thumb">
                    <a href="{{site.baseurl}}{{post.url}}">
                        <img src="{{site.baseurl}}{{post.imageurl}}" alt="{{post.title}}">
                    </a>
                </div>

                <div class="b-text">

                    {%if post.featured %}
	                    <h1 class="headline gamma"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h1>
	                    <div class="description">
	                        {{post.excerpt}}                        
	                    </div>
					{% else %}
						<h5><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
                    {% endif %}
					<a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}" class="text-btn">Read more&rarr;</a>
                    <div class="tags">
                        <i class="icon icon-tag"></i>
						{% for tag in post.tags %}
							<a href="#" class="tag_alt">{{tag}}</a>
						{% endfor %}
                    </div>
                </div>

            </div>
        </li>{% endfor %}
    </ul>
    
