{% include start.html %}<!--
-->{% include header.html %}<!--
--><div role="main" class="grid">

	<div class="block block-content-header">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
				<h1 class="title">Data</h1>
				<p class="subhead grid grid__item desk--one-half">
					Our database contains more than 30 million metadata records linking to millions of openly licensed media objects. We'll be featuring some of our very best content here.'
				</p>
		</div>
	</div>
	
	{% include data-subnav.html %}
	
	{{ content}}<!--
--></div>
{% include footer.html %}<!--
-->{% include end.html %}
