{% include item-header.html %}	
	<div class="grid__item one-quarter palm--one-whole">
		<ul class="tabs tabs-v">
			<li><a href="{{site.baseurl}}/events">&larr;&nbsp;Events</a></li>
			{% include improve-content.html %}
		</ul>
	</div>
	
	<div class="grid__item three-quarters palm--one-whole">
		    <a href="{{ page.contact.website }}" title="{{page.title}} Website">
		        <img src="{{site.baseurl}}{{page.imageurl}}" alt="{{page.title}}">
		    </a>

		<div class="b-text">
		    <div class="prose description">
		        {{ content}}   
		        <br/>
		        
		        <p>
		        	<strong>
			        	{{page.streetaddress}}<br/>
			        	{{page.city}}<br/>
			        	{{page.country}}<br/>
			        	<span class="icon icon-calendar">&nbsp;</span>{{page.startdate}}<br/>
			        	<span class="icon icon-clock">&nbsp;</span>{{page.starttime}}<br/>
		        	</strong>
		        </p>
		        
		        
		        {% include link-block.html %} 
		       <!-- {% include tag-block.html %}-->                    
		    </div>
		</div>
		{% include contact-block.html %}
		<hr />
		{% include tag-block.html %}
    </div>

</div>

{% include footer.html %}<!--
-->{% include end.html %}
