{% include start.html %}<!--
-->{% include header.html %}<!--
--><div role="main" class="grid">

	<div class="block block-content-header">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
				<h1 class="title">Events</h1>
				<p class="subhead grid grid__item desk--one-half">
					Have a look at all the hackdays, hackathons, conferences and other events we're involved in or organising. You can meet up with us there!
				</p>
		</div>
	</div>
	
	{% include events-subnav.html %}
	
	{{ content}}<!--
--></div>
{% include footer.html %}<!--
-->{% include end.html %}
