{% include start.html %}<!--
-->{% include header.html %}<!--
--><div role="main" class="grid">

	<div class="block block-content-header">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
				<h1 class="title">Application Gallery</h1>
				<p class="subhead grid grid__item desk--one-half">
				Find inspiration in these examples of creative uses of Europeana content. Discover a range of applications of the Europeana API, the semantic web and Linked Open Data technologies.
				</p>
		</div>
	</div>
	
	<div class="grid__item one-quarter palm--one-whole">
		{% include gallery-tagfilter.html %}
		
		<ul class="tabs tabs-v">
			<li><a href="">Contribute to the Gallery</a></li>
			<li><a href="">Help Improve This Content</a></li>
		</ul>

	</div><!--
	 -->{{ content}}<!--
--></div>
{% include footer.html %}<!--
-->{% include end.html %}