{% include item-header.html %}	
	<div class="grid__item one-quarter tabs tabs-v">
		<ul>
			<li><a href="{{site.baseurl}}/gallery">&larr;&nbsp;Gallery</a></li>
		</ul>
	</div>
	
	<div class="grid__item palm--one-whole desk--one-half">
		    <a href="{{ page.contact.website }}" title="{{page.title}} Website">
		        <img src="{{site.baseurl}}{{page.imageurl}}" alt="{{page.title}}">
		    </a>

		<div class="b-text">
		    <div class="prose description">
		        {{ content}}
				{% include link-block.html %}
		    </div>
		</div>
		{% include contact-block.html %}
		{% include other-image-block.html %}
		<hr />
		{% include tag-block.html %}
    </div>
</div>

{% include footer.html %}<!--
-->{% include end.html %}