{% include start.html %}<!--
-->{% include header.html %}<!--
--><div role="main" class="grid">

	<div class="block block-content-header">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
				<h1 class="title">Locations</h1>
				<p class="subhead grid grid__item desk--one-half">
				These labs across Europe offer online and real world places you can go to play, develop, test and build apps and products.
				</p>
		</div>
	</div>


	<div class="grid__item one-quarter palm--one-whole">
		<ul class="tabs tabs-v">
			<li><a href="">Add a Lab</a></li>
			<li><a href="">Lab best practices</a></li>
			{% include improve-content.html %}
		</ul>
	</div><!--
	 -->{{ content}}<!--
--></div>
{% include footer.html %}<!--
-->{% include end.html %}
