---
layout: events-list
title: Events
---

<script>
	/*$(document).ready(function(){
		
		$("div.pagination-holder").jPages({
	    containerID : "EventsList",
	    perPage: 10,
	    startPage:1
	    });
	});*/
	$(document).ready(function() {
        $("a.tag").listFilters({
        	listid:"#filtered-list",
        	paginationContainerId:"EventsList",
        	activeTagClass: "current-tag"
        });
    });	
</script>

<div id="filtered-list" class="grid__item palm--one-whole three-quarters">
    <ul id="EventsList"  class="post-list grid">
    	{% assign sorted_events = site.categories.events | sortEventByDate %}
        {% for post in sorted_events %}<!--
        --><li class="grid__item one-whole desk--one-whole  {% for tag in post.tags %} {{ tag | tags_links }} {% endfor %}">
            <div class="block block-thumb {%if post.featured != true %}  block-thumb-small {% endif %}">

                <div class="b-thumb">
                    <a href="{{site.baseurl}}{{post.url}}">
                        <img src="{{site.baseurl}}{{post.imageurl.first}}" alt="{{post.title}}">
                    </a>
                </div>

                <div class="b-text">

                 
	                    <h2 class="headline gamma"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
	                    <p>
							{{post.city}}, {{post.country}}<br/>
			        		<span class="icon icon-calendar">&nbsp; {{post.startdate}} </span> &nbsp; <span class="icon icon-clock">&nbsp; {{post.starttime}}</span>
	                    </p>
	                    <div class="description">
	                        {{post.excerpt}}                        
	                    </div>
					
                    <div style="text-align: left;">
					<!--<a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}" class="text-btn">Read more about {{post.title}}</a>-->
					</div>
                    <div class="tags">
                        <i class="icon icon-tag"></i>
						{% for tag in post.tags %}
							<a class="tag_alt {{ tag | tags_links }}">{{tag}}</a>
						{% endfor %}
                    </div>
                </div>

            </div>
        </li>{% endfor %}
    </ul>
    
    <div class="pagination-holder">
    	
    </div>

</div>
